.text {
    width: 1200px;
    margin: 0 auto;
}

.frame {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

#play-ground {
    border: 1px solid black;
}

#status {
    float: left;
}

#timer {
    float: right;
}

#title {
    text-align: center
}